@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body{
    margin: 0;
}
.container-page{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.container-main{

    width: 1332px;
    margin: auto;
}
.container-body{
display: flex;
flex-direction: column;
gap: 200px;
margin-top: 96px;
}

/* ----------------------navigattion----------------------------- */

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 20%;
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    color: #333333;
}
.routes{
    display: flex;
    gap: 60px;
}

.routes>a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    outline: none;
    text-decoration: none;
}


label{
    display: none;
    font-size: 30px;
}

#toggle{
    display: none;
}


/* -----------------------------home--------------------------------- */

.home-sub-one{
    width: 543px;
    margin-left: 277px;
    max-width: 100%;
}

.home-sub-two{
    width: 366px;
    margin-left: 277px;
}

.home-sub-one>p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2D9CDB;

}
.home-sub-two>p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;

}

.home-sub-two>small{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

.home h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
    
}

.home>img{
    border-radius: 18px;
    max-width: 100%;
}

.email-signup{
    position: relative;
}

.email-signup>input{
    width: 350px;
    height: 57px;
    background: #F2F2F2;
    border-radius: 12px;
    border-style: none;
    outline: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #BDBDBD;
    padding-left:21px ;
    max-width: 100%;
}

.email-join{
    position: absolute;
    top:6.5px;
    left:275px;
    width: 94px;
    height: 49px;
    background: #2D9CDB;
    border-radius: 12px;
    font-family: Poppins;
    border-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #F2F2F2;
    outline: none;
}



/* -------------------------------------------services-------------------------------------------------- */


.services{
 width: 1100px;
 margin:auto;
}

.services h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 62px;
    color: #333333;
    width: 366px;
    max-width: 100%;
}

.service-cards{
 display: flex;
 
 gap:41px;

}

.card{
    width: 341px;
    height: 322px;
    padding: 46px 34px;
}

.card>h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.card>p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.card>button{
    width: 116px;
    height: 42px;
    background: #E0E0E0;
    border-radius: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    outline: none;
    border-style: none;
    padding: 10px;
}

.icon{
    width: 67px;
    height: 67px;
    border-radius: 16px;
    position: relative;
}

.icon>img{
    width: 40px;
    height: 40px;
    fill: white;
    padding: 14px 14px;
}

.red{
    background-color: #EB5757;
}
.blue{
    background-color: #2D9CDB;
}
.green{
    background-color:#27AE60 ;
}

.two{

    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}

.two>button{
    background: #2D9CDB;
    color: #FFFFFF;
}


/* ---------------------------------------------work----------------------------------------------- */

.work{
    width: 1100px;
    margin:auto;
   }
.work h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: #333333;
    width: 466px;
    max-width: 100%;
    
} 

.a{
    margin-top: 188px;
}

.work-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 100px;
    max-width: 100%;
}

.work-box img{
    width: 545px;
    height: 545px;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 10px;
}

.work-box small{

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

.work-box p{
    margin: 10px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.work-box>.imb>.seemore{
    margin-top: 135px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2D9CDB;
    float: right;
}

.odd{
    position: relative;
    bottom: 185px;
}


/* ----------------------------------------------client-------------------------------------------------------- */

.client{
    width: 1100px;
    margin:auto;
    display: flex;
    justify-content: space-between;
   }


.client-images{
    max-width: 100%;
    height: auto;
    display: flex;
    gap:22px;
    /* position: relative; */
    margin-right: 40px;
}

.client-images>div{
   
    height: auto;
    display: flex;
    flex-direction: column;
    gap:22px;
    position: relative;
    top:-150px;
    left:0px;
    top:-150px;
}
.client-content{
    width: 300px;
}

.client-content>p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #EB5757;
    
}

.client-content>h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
    max-width: 100%;
    
}

.client-content>small{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    width: 10px;
}

.bdr{
    border-radius: 24px;
}

.cla{
 width: 300px;
 height: 300px;
 
 
}
.clb{
    width: 260px;
    height: 260px;
  
}

.clc{
    width: 291.43px;
    height: 300px;
   
}

/* ----------------------------------------------------testimonial------------------------------------------ */

.testimonial{
    width: 1100px;
    margin:100px auto 20px auto;
}

.testimonial>h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
    width: 900px;
    max-width: 100%;
}

.testimonial>div{
    margin-top: 90px;
    width:300px;
}

.testimonial>div>img{
    width: 85px;
    height: 85px;
    border-radius: 12px;
}

.testimonial>div>aside{
    float: right;
}

aside>p{
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

aside>small{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #828282;
}

/* ----------------------------------------------footer---------------------------------------------------- */

footer{
    background: #100E1D;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    text-align: center;
    padding-bottom: 30px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 46px auto 159px auto;
}

.footer-one{
    display: flex;
    flex-direction: column;
    text-decoration: none;

}

.footer-one>a{
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    color: #FFFFFF;
}

.footer-three>small{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #F2F2F2;
    padding-right: auto;
}

.footer-two>div{
    color: white;
}

@media screen and (max-width:1300px){


   
    nav{
        width: 95%;
        margin: 30px auto;
    }

    .route-wrapper{
        width: 100%;
    }
    .routes{
       text-align: center;
        float: right;
        margin: 100px auto;
        width: 100%;
        display: none;
    }

    label{
     display: block;
     float: right;
     cursor: pointer;
 }

 #toggle:checked + .routes{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
    .container-body{
       
        width: 100%;
        margin: auto;
        gap: 100px;
        
        } 
      
 .container-main{
    width: 600px;
    max-width: 100%;
 }      
.home{
    margin-top: 70px;
}

 .home-sub-one{
    width: 80%;
    margin: auto;
    max-width: 100%;
}

.home-sub-one>h1{
    font-size: 35px;
    line-height: 46px;
}

.home-sub-two>h1{
    font-size: 35px;
    line-height: 46px;
}
.home-sub-two{
    
    width: 80%;
    margin: auto;
    max-width: 100%;
}
.home>img{
    max-width: 100%;
}

.service-cards{
    
    flex-direction: column;
   
}

.card{
    width: 80%;
    margin:auto;
}

.services{
    width: 80%;
    max-width: 100%;
    margin:auto;
}
.work{
    width: 80%;
    max-width: 100%;
    margin:auto;
}

.work-box{
    
    margin:90px 0;
    flex-direction: column;

}

.ima,.imb{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.work-box>.imb>.seemore{
    margin: 35px 0;
    float: none;
}

.b{
    margin-bottom: 35px;
}

.odd{
    top: 0;
}

.client{
    width: 98%;
    max-width: 100%;
    margin:auto;
    flex-direction: column;
}

.client-content{
    width: 80%;
    margin: auto;
}

.client-images{
    width: 80%;
    margin:200px 250px 50px auto;
    gap: 20px;
}

.cla{
    max-width: 200px;
    height: 200px;
}

.client-images>div{
    top:-70px;
    width: 10%;
}
.clb{
    width: 140px;
    height: auto;
    
}
.clc{
    width: 180px;
    height: auto;
}

.testimonial{
    width: 80%;
    max-width: 100%;
    margin:auto;
}

.contact{
    width: 95%;
    margin:auto;
}

.contact{
    width: 100%;
    max-width: 100%;
    margin: auto;
}
.footer-content{
    width: 95%;
    margin: 30px auto 170px auto ;
    flex-direction: column;
}

.footer-one{
    text-align: left;
}

.footer-two>.logo{
 position: relative;
 right: 7px;
}

.footer-two>div{
    width: 90px;
    position: relative;
   
}

.footer-three{
    width: 400px;
    position: relative;
    margin: auto 0;
   text-align: start;
}

.email-signup>input{
    width: 70%;
    
}
.email-join{
   
    max-width: 100%;
    left:259px;
   
}
.billroth{
    left:200px;
}

.testimonial>h1{
    font-size: 25px;
    line-height: 46px;
}

.client-images{
    width: 40%;
}



}